@(siteForm: Form[models.Site])

@main("登録画面") {
	@helper.form(action = routes.Application.send){
		@(helper.inputText(
			field = siteForm("siteName"), '_label -> "現場名*", '_showConstraints -> false
		))

		@(helper.inputText(
			field = siteForm("address"), '_label -> "住所"
		))

		@(helper.inputText(
			field = siteForm("tel"), '_label -> "電話番号", '_showConstraints -> false
		))

		@(helper.inputText(
			field = siteForm("remarks"), '_label -> "備考"
		))

    <form action="/send" method="POST">
	    <div><input type="submit" value="登録" class="button" class="button"></div>
	</form>

    }
}